<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-body">
          <h1 class="card-title pricing-card-title">+<small class="text-muted fw-light"> (add new)</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Create new Project</li>
          </ul>
          <button type="button" class="w-100 btn btn-lg btn-outline-primary" (click)="onSelect('newProject')">Create new Project</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-body">
          <h1 class="card-title pricing-card-title">Open<small class="text-muted fw-light"> last</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Select existing Project</li>
          </ul>
          <button type="button" class="w-100 btn btn-lg btn-primary">Get started</button>
        </div>
      </div>
    </div>
  </div>