<app-header (featureSelected)="onNavigate($event)"></app-header>
<div class="container">
  <div class="row">
    <app-login *ngIf="loadedFeature == 'login'" (featureSelected)="onNavigate($event)"></app-login>
    <app-landing *ngIf="loadedFeature == 'landing'" (featureSelected)="onNavigate($event)"></app-landing>
  </div>

  <div class="row">
    <app-main *ngIf="loadedFeature == 'main'" (featureSelected)="onNavigate($event)"></app-main>
    <app-new-project *ngIf="loadedFeature == 'newProject'" (featureSelected)="onNavigate($event)"></app-new-project>
    <app-video *ngIf="loadedFeature == 'video'"></app-video>
  </div>
</div>