.spacer {
    flex: 1;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 45px;
    display: flex;
    align-items: center;
    background-color: #fa65ba;
    color: rgb(0, 0, 0);
    font-weight: 650;
  }

  .toolbar a {
    color: rgb(0, 0, 0);
    margin-right: 6rem;
  }

  .toolbar img {
    margin: -3px 12px;
  }

  .toolbar a {
    cursor: pointer;
  }
